.keyboard {
    width: 50%;
    button {
        margin: 5px;
    }
}
.word {
    letter-spacing: 3px;
}
.navbar,
.footer {
    background-color: rgba(197, 195, 195, 0.373);
}
.footer {
    margin-top: 70px;
}
.help-container {
    position: absolute;
    top: 97px;
    right: 10px;
    width: 50%;
    height: fit-content;

    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media only screen and (max-width: 600px) {
    .help-container {
        width: 80%;
        top: 135px;   
    }
   
}